
<!-- <button class="btn btn-primary" (click)="showReportIssue = false" *ngIf = " showReportIssue === true">
  Show Issues
</button> -->
<ng-container *ngIf="showReportIssue === false">

  <button class="btn btn-primary" (click)="showReportIssue = true">
    Add new issue
  </button>

  <clr-datagrid>
    <clr-dg-column [clrDgField]="'issueNum'" [clrDgColType]="'number'"
      >issue Number
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'title'">title </clr-dg-column>
    <clr-dg-column [clrDgField]="'description'">description </clr-dg-column>
    <clr-dg-column [clrDgField]="'priority'">priority </clr-dg-column>
    <clr-dg-column [clrDgField]="'type'">type </clr-dg-column>

    <clr-dg-row *clrDgItems="let issue of issues">
      <clr-dg-action-overflow>
        <button class="action-item"
        (click)="selectIssue = issue">Resolve</button>
        </clr-dg-action-overflow>
      <clr-dg-cell>{{ issue.issueNum }}</clr-dg-cell>
      <clr-dg-cell>{{ issue.type }}</clr-dg-cell>
      <clr-dg-cell>{{ issue.title }}</clr-dg-cell>
      <clr-dg-cell>{{ issue.description }}</clr-dg-cell>
      <clr-dg-cell>
        <span class="label" [class.label-danger]="issue.priority === 'high'">
          {{ issue.priority }}
        </span>
      </clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer> {{ issues.length }}</clr-dg-footer>
  </clr-datagrid>


</ng-container>
<app-issue-report *ngIf = "showReportIssue === true" (formClose)="onCloseReport()"></app-issue-report>
<app-confirm-dialog *ngIf="selectIssue" 
  [issueNum]="selectIssue.issueNum"
  (confirm)="onConfirm($event)"
></app-confirm-dialog>
